body{
	font-family: sans-serif;
	background-image: url("../img/bg1.jpg");
	background-size: 88%;
}


.tulisan_login{
	text-align: center;
	text-transform: uppercase; 
	font-family: arial (Body);
}

.kotak_login{
	width: 350px;
	background: #f9f9f9;	
	margin: 130px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 30px 1px #d2d2d2;
}

label{
	font-size: 11pt;
}

.form_login{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;

}

.tombol_login{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	box-shadow: 0px 0px 5px 1px #d2d2d2;
}

.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	
}